
<script>
    WebFontConfig = {
        google: {
            families: ["Open Sans", ]
        },
        active: function () {
            DrawTheChart(ChartData, ChartOptions, "chart-01", "line")
        }
    };
</script>


<script>
    function DrawTheChart(ChartData, ChartOptions, ChartId, ChartType) {
 
        Chart.plugins.register({
            beforeDraw: function(chartInstance) {
                var ctx = chartInstance.chart.ctx;
                ctx.fillStyle = '#1c2025';
                ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
            }
        })
   
        eval('var myLine = new Chart(document.getElementById(ChartId).getContext("2d"),{type:"' + ChartType +
            '",data:ChartData,options:ChartOptions});document.getElementById(ChartId).getContext("2d").stroke();'
        )
    }
</script>

<div class="flex-row chart">
<canvas id="chart-01"
style="background-color:rgba(255,255,255,1.00);border-radius:0px;width:100%;height:500px;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px">
</canvas>
<script>
    function MoreChartOptions() {}
    var ChartData = {
        labels: ["1","2","3","4","5","6","7","8","9","10"],
        datasets: [{
                data:  [1000,1222,1230,1330,1270,1500,1700,2000,1600,2100],
                borderColor: 'rgb(72,0,255)',

                backgroundColor: 'rgba(255,255,255,0)',
                pointBackgroundColor: 'rgb(72,0,255)',
                pointBorderColor: '#1c2025',

                label: "{{name}}",
            },

            // {
            //     data: [1000,1200,1300,1500,1400,2200,1200,1000,1500,1400],
            //     borderColor: '#ff006f',
        
            //     backgroundColor: 'rgba(255,0,0,0)',
            //     pointBackgroundColor: '#ff006f',
            //     pointBorderColor: '#1c2025',

            //     label: "Fat7i"
            // },

        ]
    };

    ChartOptions = {
        responsive: false,
        layout: {
            padding: {
                top: 12,
                left: 12,
                bottom: 12,
            },
        },
        scales: {
            xAxes: [{
                gridLines: {
                    borderDash: [],
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Semesters',
                    fontColor: '#666666',
                    fontSize: 16,
                },

            }],

            yAxes: [{
                gridLines: {
                    borderDash: [],
                },
                scaleLabel: {
                    display: false,
                    labelString: 'Grade',
                    fontColor: '#666666',
                    fontSize: 16,
                },

            }],
        },
        plugins: {
            datalabels: {
                display: true,
                color: '#757575',
                anchor: 'start',
                align: 'start',
                offset: 0,
                font: {
                    style: ' bold',
                },
            },
        },
        legend: {
            labels: {
                usePointStyle: true,

                generateLabels: function (chart) {
                    return chart.data.datasets.map(function (dataset, i) {
                        return {
                            text: dataset.label,
                            lineCap: dataset.borderCapStyle,
                            lineDash: [],
                            lineDashOffset: 0,
                            lineJoin: dataset.borderJoinStyle,
                            pointStyle: 'rectRounded',
                            fillStyle: dataset.backgroundColor,
                            strokeStyle: dataset.borderColor,
                            lineWidth: dataset.pointBorderWidth,
                            lineDash: dataset.borderDash,
                        }
                    })
                },

            },
        },
        elements: {
            arc: {},
            point: {
                radius: 4,
                borderWidth: 4,
            },
            line: {
                tension: 0,
                borderWidth: 2,
            },
            rectangle: {},
        },
        tooltips: {
            displayColors: false,
        },
        hover: {
            mode: 'nearest',
            animationDuration: 400,
        },
    };
    DrawTheChart(ChartData, ChartOptions, "chart-01", "line");
    


</script>


</div>