<div class="nav-bar">
    <div class="flex-row nav-items flex-v-center">
        <div class="nav-item logo">
            <img src="/static/assets/images/ACM PSUT SC Logo.svg">
        </div>
        <div class="flex-row nav-item flex-v-center active">
            <a href="#">Home</a>
        </div>
        <div class=" flex-row nav-item flex-v-center">
            <a href="#">Leaderboard</a>
        </div>
        <div class="flex-row nav-item flex-v-center">
            <a href="#">My Profile</a>
        </div>
    </div>
</div>