<div class="flex-row user-info">
    <div>
        <div class="rank-image"></div>
    </div>
    <div class="flex-row flex-v-center ">
        <div class="flex-column">
            <div class="user-info-item user-name flex-row ">
                <div>Mohammad Rimawi</div>
            </div>
            <div class="user-info-item user-rank flex-row ">
                <div>GOLD</div>
            </div>
            <div class="user-info-item user-level flex-row ">
                <div>Lv30</div>
            </div>

        </div>
        <div class="flex-column">
            <div class="user-info-item flex-row ">
                <div>Username:</div>
                <div>{{name}}</div>
            </div>
            <div class="user-info-item flex-row ">
                <div>Email:</div>
                <div>{{name}}@gmail.com</div>
            </div>
        </div>
    </div>


</div>