@import url('https://fonts.googleapis.com/css?family=Lato|Muli'); 
  body {
    background-color: #18191A;
    font-family: 'lato';
    padding: 0;
    margin: 0;
    background-image: url('/static/assets/images/noise.jpg');
    background-blend-mode: multiply;
    height: 1500px;
    background-repeat: repeat;
    color: white; }

    .nav-bar .nav-items {
      width: 100%;
      height: 100px;
      background-color: black;
      box-shadow: 0px 3px 10px 5px black; }
      .nav-bar .nav-items .nav-item {
        height: fit-content;
        width: fit-content; }
        .nav-bar .nav-items .nav-item.logo {
          padding: 20px;
          margin: 0 10px; }
          .nav-bar .nav-items .nav-item img {
            filter: brightness(100);
            height: 60px; }
            .nav-bar .nav-items .nav-item.active a:after {
              height: px;
              width: 100%;
              margin: auto;
              background-image: linear-gradient(15deg, #16222A, #3A6073 50%, #16222A); }
        .nav-bar .nav-items .nav-item a {
          text-decoration: none;
          width: fit-content;
          color: white;
          padding: 20px;
          color: white;
          margin: 0 10px;
          border-radius: 5px;
          text-align: center;
          box-sizing: border-box;
          transition: all 0.3s ease-in-out; }
          .nav-bar .nav-items .nav-item a:after {
            content: "";
            height: 3px;
            width: 0%;
            display: block;
            transition: all 0.3s ease-in-out;
            margin: auto; }
            .nav-bar .nav-items .nav-item a:hover:after {
              height: 3px;
              width: 100%;
              margin: auto;
              background-image: linear-gradient(15deg, #16222A, #3A6073 50%, #16222A); }
    .nav-bar:after {
      content: "";
      height: 8px;
      width: 100%;
      display: block;
      background-image: linear-gradient(15deg, #16222A, #3A6073 50%, #16222A); }

  h1.title {
    margin: 80px 0;
    width: 100%;
    font-size: 30pt;
    text-align: center; }

  .list {
    width: 80% !important;
    margin: auto; }
    .list .rank-tile {
      border: solid 2px #797979;
      margin: 10px auto;
      border-radius: 10px;
      padding: 20px 0;
      transform: scale(1);
      transition: all 0.3s ease-in-out; }
      .list .rank-tile:hover {
        transform: scale(1.02);
        box-shadow: 0px 3px 10px 5px black;
        background-color: rgba(36, 36, 36, 0.589); }
        .list .rank-tile span {
          padding: 20px 40px;
          font-size: 20pt;
          border-right: white solid 2px; }
          .list .rank-tile p {
            padding: 0 20px;
            margin: 0; }
            .list .rank-tile .tile-title {
              font-size: 20pt;
              font-weight: bolder; }
              .list .rank-tile .tile-subtitle {
                font-size: 14pt; }

  .main {
    width: 80%;
    margin: auto; }

    .profile-info .badges {
      height: 300px;
      background-color: rgba(87, 87, 87, 0.295); }
      .profile-info .submissions {
        height: 500px;
        background-color: rgba(87, 87, 87, 0.295); }
        .profile-info p {
          padding: 0;
          margin: 0; }
          .profile-info .flex-row {
            margin: 20px auto; }
            .profile-info .rank-image {
              width: 200px;
              height: 200px;
              background-color: rgba(87, 87, 87, 0.295); }
              .profile-info .user-info .user-info-item {
                margin: 0 20px; }
                .profile-info .user-info .user-info-item.user-name {
                  font-size: 40pt;
                  font-weight: bold; }
                  .profile-info .user-info .user-info-item.user-rank {
                    font-size: 20pt;
                    font-weight: bold; }
                    .profile-info .user-info .user-info-item.user-level {
                      font-size: 12pt;
                      width: fit-content;
                      padding: 0 5px; }
    .profile-info ::-webkit-scrollbar {
      width: 12px;
      height: 12px; }
      .profile-info ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px; }
        .profile-info ::-webkit-scrollbar-thumb {
          background: #e1e1e1;
          border: 0px none #ffffff;
          border-radius: 50px; }
          .profile-info ::-webkit-scrollbar-thumb:hover {
            background: #ffffff; }
            .profile-info ::-webkit-scrollbar-thumb:active {
              background: #000000; }
              .profile-info ::-webkit-scrollbar-track {
                background: #666666;
                border: 0px none #ffffff;
                border-radius: 50px; }
                .profile-info ::-webkit-scrollbar-track:hover {
                  background: #666666; }
                  .profile-info ::-webkit-scrollbar-track:active {
                    background: #333333; }
                    .profile-info ::-webkit-scrollbar-corner {
                      background: transparent; }
